@font-face {
  font-family: 'OpenSansCondensedBold';
  src: url("font/OpenSansCondensed-Bold.woff") format("woff"); }
@font-face {
  font-family: 'OpenSansCondensedLight';
  src: url("font/OpenSansCondensed-Light.woff") format("woff"); }
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "OpenSansCondensedBold";
  font-size: 1em;
  color: #323232;
  background-color: #ffffff;
  box-sizing: border-box;
  overflow-x: hidden; }

a, a:active, a:hover, a:visited {
  color: #323232;
  text-decoration: none; }

.clearfix {
  clear: both; }

p {
  font-family: "OpenSansCondensedBold";
  font-size: 36px;
  color: #323232; }

.set {
  font-family: "OpenSansCondensedBold";
  font-size: 20px;
  color: #323232;
  height: 5px; }

.page-links {
  font-family: "OpenSansCondensedLight";
  font-size: 20px;
  color: #323232;
  display: inline;
  position: relative;
  bottom: 10px;
  margin: 0px 17.5px 0px 17.5px;
  left: 105px; }

.tradem {
  font-family: "OpenSansCondensedLight";
  font-size: 20px;
  color: #ffffff;
  display: inline;
  position: relative;
  top: -25px; }

.tradem-sm {
  font-size: 18px;
  top: -15px; }

.tagline {
  font-family: "OpenSansCondensedLight";
  font-size: 30px;
  color: #ffffff;
  display: inline;
  position: relative;
  bottom: 5px; }

.tag-end {
  margin-right: 35px; }

.accent {
  font-family: "OpenSansCondensedLight";
  font-size: 30px;
  color: #323232; }

.single-line {
  display: inline;
  cursor: pointer; }

.accent-sm {
  font-family: "OpenSansCondensedLight";
  font-size: 24px;
  color: #323232;
  margin-bottom: 35px; }

.value {
  font-family: "OpenSansCondensedLight";
  font-size: 21px;
  color: #323232;
  position: relative; }

h1 {
  font-family: "OpenSansCondensedBold";
  font-size: 60px;
  color: #ffffff;
  line-height: 100px;
  display: inline; }

.btn {
  border-radius: 0; }

#header {
  width: 100%;
  height: 100px;
  margin: 35px 0px 35px 0px;
  padding: 0px 0px 0px 50px;
  background-color: #323232; }
  #header .left {
    width: 50%;
    margin-left: 35px;
    float: left; }
  #header .right {
    margin-right: 35px;
    float: right;
    line-height: 100px; }

#sections {
  margin-left: 17.5px;
  margin-right: 17.5px;
  min-height: 100%; }
  #sections .bottom {
    position: absolute;
    bottom: 35px;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }
  #sections canvas {
    width: 500px !important;
    height: auto !important;
    margin: 0 auto; }
  #sections .section {
    height: 750px;
    min-height: 100%;
    background-color: #f0f3f7;
    margin: 0px 17.5px -5px 17.5px;
    padding: 35px 0px 5px 0px;
    overflow: hidden; }
    #sections .section .path-group {
      display: block;
      margin: 0 auto;
      width: 291px;
      height: 132px;
      background: url("../img/path-group.png");
      margin-bottom: 10px; }
    #sections .section .path-color .path-top {
      z-index: 1;
      position: absolute; }
    #sections .section .path-color .path-bottom {
      z-index: 2;
      position: absolute; }
    #sections .section .path-color .path-left {
      z-index: 3;
      position: absolute; }
    #sections .section .path-color .path-middle {
      z-index: 4;
      position: absolute; }
    #sections .section .path-color .path-right {
      z-index: 5;
      position: absolute; }
    #sections .section hr {
      width: 75%; }
    #sections .section p {
      text-align: center;
      line-height: .5em; }
  #sections #temp .path-group .p1, #sections #temp .path-group .p4, #sections #temp .path-group .p7, #sections #temp .path-group .p10 {
    top: 104px;
    left: 85px; }
  #sections #temp .path-group .p2, #sections #temp .path-group .p5, #sections #temp .path-group .p8, #sections #temp .path-group .p11 {
    top: 104px;
    left: 115px; }
  #sections #temp .path-group .p3, #sections #temp .path-group .p6, #sections #temp .path-group .p9, #sections #temp .path-group .p12 {
    top: 104px;
    left: 137px; }
  #sections #temp .path-group .p13, #sections #temp .path-group .p15, #sections #temp .path-group .p17, #sections #temp .path-group .p19 {
    top: 49px;
    right: 110px; }
  #sections #temp .path-group .p14, #sections #temp .path-group .p16, #sections #temp .path-group .p18, #sections #temp .path-group .p20 {
    top: 15px;
    right: 135px; }
  #sections #oxygen .path-group .p1, #sections #oxygen .path-group .p4, #sections #oxygen .path-group .p7, #sections #oxygen .path-group .p10 {
    top: 104px;
    left: 90px; }
  #sections #oxygen .path-group .p2, #sections #oxygen .path-group .p5, #sections #oxygen .path-group .p8, #sections #oxygen .path-group .p11 {
    top: 104px;
    left: 133px; }
  #sections #oxygen .path-group .p3, #sections #oxygen .path-group .p6, #sections #oxygen .path-group .p9, #sections #oxygen .path-group .p12 {
    top: 104px;
    left: 167px; }
  #sections #oxygen .path-group .p13, #sections #oxygen .path-group .p15, #sections #oxygen .path-group .p17, #sections #oxygen .path-group .p19 {
    top: 49px;
    right: 67px; }
  #sections #oxygen .path-group .p14, #sections #oxygen .path-group .p16, #sections #oxygen .path-group .p18, #sections #oxygen .path-group .p20 {
    top: 15px;
    right: 78px; }
  #sections #monoxide .path-group .p1, #sections #monoxide .path-group .p4, #sections #monoxide .path-group .p7 {
    top: 104px;
    left: 98px; }
  #sections #monoxide .path-group .p10 {
    top: 104px;
    left: 92px; }
  #sections #monoxide .path-group .p2, #sections #monoxide .path-group .p5, #sections #monoxide .path-group .p8 {
    top: 104px;
    left: 153px; }
  #sections #monoxide .path-group .p11 {
    top: 104px;
    left: 140px; }
  #sections #monoxide .path-group .p3, #sections #monoxide .path-group .p6, #sections #monoxide .path-group .p9 {
    top: 104px;
    left: 200px; }
  #sections #monoxide .path-group .p12 {
    top: 104px;
    left: 188px; }
  #sections #monoxide .path-group .p13, #sections #monoxide .path-group .p15, #sections #monoxide .path-group .p17 {
    top: 49px;
    right: 21px; }
  #sections #monoxide .path-group .p19 {
    top: 49px;
    right: 34px; }
  #sections #monoxide .path-group .p14, #sections #monoxide .path-group .p16, #sections #monoxide .path-group .p18 {
    top: 15px;
    right: 22px; }
  #sections #monoxide .path-group .p20 {
    top: 15px;
    right: 34px; }
  #sections #burner #burner-lg {
    background: url("../img/burner-outline.png") no-repeat top center;
    height: 360px;
    padding: 65px 210px; }
  #sections #burner #wall-burners {
    padding: 0px 35px; }
    #sections #burner #wall-burners .wall-burner {
      height: 75px;
      width: 75px;
      background: url("../img/wall-burner.png") no-repeat top center;
      display: inline-block;
      margin: 17px 17px;
      padding: 16px 22px; }
  #sections #burner #floor-burners {
    padding: 0px 35px; }
    #sections #burner #floor-burners .floor-burner {
      height: 100px;
      width: 100px;
      background: url("../img/floor-burner.png") no-repeat top center;
      display: inline-block;
      margin: 17px 17px;
      padding: 28px 40px; }

/*# sourceMappingURL=styles.css.map */
