//Imports
@font-face {
  font-family: 'OpenSansCondensedBold';
  src:  url('font/OpenSansCondensedBold.woff') format('woff');
}

@font-face {
    font-family: 'OpenSansCondensedLight';
    src:  url('font/OpenSansCondensedLight.woff') format('woff');
}

@font-face {
	font-family: 'FontAwesomeReg';
    src:  url('font/FontAwesome5FreeRegular400.otf') format('otf');
}

//Variables
$base-spacing: 1em;
$font-stack-primary: 'OpenSansCondensedBold';
$font-stack-accent: 'OpenSansCondensedLight';
$font-icons: 'FontAwesomeReg';
$small: .75em;
$medium: 1em;
$large: 2em;
$x-large: 3em;
$gray-light: #f0f3f7;
$gray-medium: #ccced1;
$gray-dark: #747577;
$black: #323232;
$white: #ffffff;
$red: #ee3e32;
$yellow: #fbb021;
$green: #1b8a5a;
$blue: #1d4877;
$a-tags: 'a, a:active, a:hover, a:visited';

// Styles
body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: $font-stack-primary;
	font-size: $medium;
	color: $black;
	background-color: $white;
	box-sizing:border-box;
	overflow-x: hidden;
}

#{$a-tags} {
	text-decoration: none;
}

.clearfix {
	clear: both;
}

p {
	font-family: $font-stack-primary;
	font-size: 36px;
	color: $black;
}

.set {
	font-family: $font-stack-primary;
	font-size: 20px;
	color: $black;
	height: 5px;
}

.page-links {
	font-family: $font-stack-accent;
	font-size: 20px;
	color: $black;
	display: inline;
	position: relative;
	bottom: 10px;
	margin: 0px 17.5px 0px 17.5px;
	left: 105px;
}

.tradem {
	font-family: $font-stack-accent;
	font-size: 20px;
	color: $white;
	display: inline;
	position: relative;
	top: -25px;
}

.tradem-sm {
	font-size: 18px;
	top: -15px;
}

.tagline {
	font-family: $font-stack-accent;
	font-size: 30px;
	color: $white;
	display: inline;
	position: relative;
	bottom: 5px;
}

.tag-end {
	margin-right:35px;
}

.accent {
	font-family: $font-stack-accent;
	font-size: 30px;
	color: $black;
}

.single-line {
	display: inline;
	cursor: pointer;
}

.accent-sm {
	font-family: $font-stack-accent;
	font-size: 24px;
	color: $black;
	margin-bottom: 35px;
}

.value {
	font-family: $font-stack-accent;
	font-size:21px;
	color: $black;
	position: relative;
	display: inline;
}

h1 {
	font-family: $font-stack-primary;
	font-size: 60px;
	color: $white;
	line-height: 100px;
	display: inline;
}

#header {
	width: 100%;
	height: 100px;
	margin:35px 0px 35px 0px;
	padding: 0px 0px 0px 50px;
	background-color: $black;
	
	.settings {
		float: right;
		margin: 20px 100px 0px 0px;
		
		.f-icon {
			color: $white;
			font-size: 40px;
			padding: 0 10px;
		}
		
		.dropdown {
			position: relative;
			display: inline-block;
		}
		
		.dropdown-content {
			display: none;
			background-color: $black;
			position: absolute;
			min-width: 197px;
			z-index: 3;
			font-size: 24px;
			padding: 7px 15px;
			
			#{$a-tags} {
				display: block;
				color: $white;
				text-decoration: none;
				
				&:hover {
					//background-color: $white;
					color: $gray-dark;
				}
			}
		}
		
		.dropdown:hover {
			.dropdown-content {
				display: block;
			}
		}
	}
}

.tooltip.show {
	font-size: 20px;
}

.modal-dialog {
	top: 35%;
	
	.modal-content {
		
		hr {
			width: 75%;
		}
		
		.modal-header {
			border-bottom: none;
			
			.modal-title {
				margin: 0 auto;
			}
			
			.close {
				margin: unset;
				padding: unset;
				font-size: 50px;
			}
		}
		
		form {
			
			input[type=number]::-webkit-inner-spin-button, 
			input[type=number]::-webkit-outer-spin-button { 
			  -webkit-appearance: none; 
			  margin: 0; 
			  padding: 0;
			}
		}

		.modal-body {
			font-family: $font-stack-accent;
			
			h3 {
				display: inline-block;
				padding-right: 30px;
			}
			
			label {
				    margin: 0px 20px 0px 0px;
					font-size: 1.5rem;
			}
			
			.color-value-pick {
				padding-left: 65px;
			}
			
			.color-value-input {
				width: 75px;
				font-family: $font-stack-accent;
				font-size: 22px;
			}
			
			.pickr {
					width: 75px;
					height: 38px;
					margin-top: 10px;
					border-radius: 4px;
			}
		}
		
		.modal-footer {
			border-top: none;
		}
		
		sup {
			top: 0em;
			color: $red;
			font-size: 2rem;
		}
		
		p {
			font-family: $font-stack-accent;
			font-size: 20px;
			margin: 30px 0px -48px 20px;
		}
	}
}

#sections {
	margin-left: 17.5px;
	margin-right: 17.5px;
	min-height: 100%;
	
	.bottom {
		position: absolute;
		bottom: 35px;
		top: 87%;
		left: 50%;
		transform: translate(-50%, -50%);
		width:100%;
	}
	
	canvas {
		width: 500px!important;
		height: auto!important;
		margin: 0 auto;
	}
	
	.section {
		height: 950px;
		min-height: 100%;
		background-color: $gray-light;
		margin: 0px 17.5px -5px 17.5px;
		padding: 100px 0px 5px 0px;
		overflow: hidden;
					
		.path-group {
			display: block;
			margin: 0 auto;
			width: 300px;
			height: 140px;
			background: url("../img/path-group.png");
			margin-bottom: 35px;
		}
		
		.path-color {
			position: relative;
			left: 6px;
			bottom: 5px;
			
			.path-top {z-index: 1; position: absolute;}
			.path-bottom {z-index: 2; position: absolute;}
			.path-left {z-index: 3; position: absolute;}
			.path-middle {z-index: 4; position: absolute;}
			.path-right {z-index: 5; position: absolute;}
		}
		
		hr {
			width: 75%;
		}
		
		p {
			text-align: center;
			line-height: .5em;
		}
	}
	
	#temp {
		
		.path-group {
			
			//values
			.p1, .p4, .p7, .p10 {top: 100px;left: 90px;}
			.p2, .p5, .p8, .p11 {top: 100px; left: 122px;}
			.p3, .p6, .p9, .p12 {top: 100px; left: 143px;}
			.p13, .p15, .p17, .p19 {top: 45px; right: 103px;}
			.p14, .p16, .p18, .p20 {top: 11px; right: 129px;}	
			
			.ftoc {
				z-index: 99;
			}
		}
	}
	
	#oxygen {
		
		.path-group {
			
			.p1, .p4, .p7, .p10 {top: 100px;left: 97px;}
			.p2, .p5, .p8, .p11 {top: 100px; left: 141px;}
			.p3, .p6, .p9, .p12 {top: 100px; left: 174px;}
			.p13, .p15, .p17, .p19 {top: 45px; right: 60px;}
			.p14, .p16, .p18, .p20 {top: 10px; right: 71px;}
		}
	}
	
	#monoxide {
		
		.path-group {
			
			.p1, .p4, .p7, {top: 100px;left: 104px;}
			.p10 {top: 99px;left: 98px;}
			.p2, .p5, .p8 {top: 100px; left: 161px;}
			.p11 {top: 100px; left: 147px;}
			.p3, .p6, .p9 {top: 100px; left: 208px;}
			.p12 {top: 100px; left: 194px;}
			.p13, .p15, .p17 {top: 45px; right: 15px;}
			.p19 {top: 45px; right: 27px;}
			.p14, .p16, .p18 {top: 10px; right: 16px;}
			.p20 {top: 10px; right: 29px;}
		}
	}
	
	#burner {
		
		#burner-lg {
			background: url("../img/burner-outline.png") no-repeat top center;
			height: 360px;
			padding: 65px 210px;
		}
		
		#wall-burners {
			padding: 0px 35px;
			
			.wall-burner {
				height: 75px;
				width: 75px;
				background: url("../img/wall-burner.png") no-repeat top center;
				display: inline-block;
				margin: 17px 17px;
				padding: 16px 22px;
			}
		}
		
		#floor-burners {
			padding: 0px 35px;
			
			.floor-burner {
				height: 100px;
				width: 100px;
				background: url("../img/floor-burner.png") no-repeat top center;
				display: inline-block;
				margin: 17px 17px;
				padding: 28px 40px;
			}
		}
	}
}

@import "all.min.css";